extends base

block content 
    ul 
        li 
            a(href="/admin/board") 모든 보드 보기
        li 
            a(href="/admin/user") 모든 유저 보기
        li 
            a(href="/admin/order") 모든 주문 보기