doctype html
html(lang="ko")
    head
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body 
        include partial/header
        main
            
            block content
             
        include partial/footer
    block scripts 