extends base
include mixins/board
include mixins/imgboard


block content 
    h3 비디오 보드
    each board in boards 
        +board(board)
    else
        span No videos found
    h3 이미지 보드
    each imgboard in imgBoards 
        +imgboard(imgboard)
    else
        span No images found

