extends base

block content 
    if errorMessage
        span=errorMessage
    form(method="POST")
        input(type="text", placeholder="아이디를 입력하세요", name = "userId")
        input(type="password", placeholder="비밀번호를 입력하세요" ,name = "password")
        input(type="text" ,placeholder="별명을 입력하세요" ,name = "username")
        input(type="text" ,placeholder="이메일을 입력하세요", name = "email")
        input(type="submit", value= "Join")
        span 이미 아이디가 있으신가요?
        a(href="/login") 로그인 하기