extends base

block content 
    if errorMessage
        span=errorMessage
    form(method="POST")
        input(type="text" placeholder="아이디를 입력하세요" name="userId")
        input(type="password" placeholder="비밀번호를 입력하세요" name="password")
        input(type="submit", value= "login")
        span 아이디가 없으신가요?
        a(href="/join") 가입하기

