extends base

block content 
    form(method="post", enctype="multipart/form-data")
        p 아이디 : #{loggedInUser.userId}
        labe(for="avatar") 사용자 이미지
        input(type="file" id="avatar" name="avatar" accept="image/*")
        input(type="text" placeholder="이메일을 입력하세요" name = "email" value=loggedInUser.email)
        input(type="text" placeholder="별명을 입력하세요" name = "username" value=loggedInUser.username)
        input(type="submit", value= "변경하기")