extends base

block content 
    if errorMessage
        span=errorMessage
    form(method="POST")
        input(type="text", placeholder="제목을 입력하세요", name = "title")
        input(type="text", placeholder="설명을 입력하세요" ,name = "description")
        input(type="text" ,placeholder="내용을 입력하세요" ,name = "contents")
        input(type="submit", value= "생성하기")
        